<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home page</title>
</head>
<body>
{{> header}}
<p>We are in the Home page</p>
<p>{{screamIt WelcomeMessage}}</p>
{{> footer}}
</body>
</html>